<?xml version="1.0" encoding="utf-8"?>
<!--<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>3f83fe91-d6be-434d-a0ae-7351c5a997f1</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-62D17851-50F4-4547-BD59-92FADAC87E40</Id>
        <Name>AdMediator_0895C9</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>1.0.3</SchemaVersion>
  <UpdatedDateTime>2015-08-12T18:58:23.8177275Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>-->
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>63b2df3f-f381-4195-aceb-ceff08f416df</Value>
          </Property>
          <Property>
            <Key>AdUnitId</Key>
            <Value>11530648</Value>
          </Property>
          <Property>
            <Key>Width</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>Height</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>100</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>IsHouse</Key>
            <Value>true</Value>
          </Property>
          <Property>
            <Key>ApplicationId</Key>
            <Value>63b2df3f-f381-4195-aceb-ceff08f416df</Value>
          </Property>
          <Property>
            <Key>AdUnitId</Key>
            <Value>11530649</Value>
          </Property>
          <Property>
            <Key>Width</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>Height</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertisingHouse</Name>
        <Weight>-20</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11530648</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
            <Weight>100</Weight>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11530649</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertisingHouse</Name>
            <Weight>-20</Weight>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-62D17851-50F4-4547-BD59-92FADAC87E40</Id>
        <Name>AdMediator_0895C9</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <CdnUriFormat>https://admediatorcdn.windowsphone.com/public/k25YrRacrs8VXSbhcIAuUxMGSa3eZy2RYV0x4VKdutc=/{0}.config</CdnUriFormat>
  <ConfigId>k25YrRacrs8VXSbhcIAuUxMGSa3eZy2RYV0x4VKdutc=</ConfigId>
  <FileVersion>1.0.1</FileVersion>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>1.0.3</SchemaVersion>
  <UpdatedDateTime>2015-08-07T06:08:21.1685463Z</UpdatedDateTime>
</AdMediatorConfiguration>